# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env/
outputs/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Editor directories and files
.vscode/
.idea/
*.swp
